<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_register_root"
                  name="Product Registration" sequence="1"/>

        <menuitem id="menu_reg_category"
                  name="Registration Category"
                  parent="menu_register_root"
                  sequence="2"/>
        <menuitem id="menu_config_reg"
                  name="Configurations"
                  parent="menu_register_root" sequence="4"/>
    </data>
</odoo>
