<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--  Action Item for Target  -->
    <record id="action_nap" model="ir.actions.act_window">
        <field name="name">NAP Targets</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">nap.target</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Create Action Targets.
            </p>
        </field>
    </record>

    <record id="action_achievement" model="ir.actions.act_window">
        <field name="name">NAP Achievements</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">event.event</field>
        <field name="view_mode">tree,form,pivot</field>
        <field name="domain">[('verify', '=', True)]</field>
        <field name="help" type="html">
            <p class="oe_view_nocontent_create">
                Create New Achievements
            </p>
        </field>
    </record>
        <menuitem id="nap_main_menu" name="NAP"
                  parent="event.event_main_menu"
                  sequence="1"/>
        <menuitem id="nap_target_menu"
                  name="NAP Targets"
                  parent="nap_main_menu"
                  action="action_nap"
                  sequence="1"/>
        <menuitem id="nap_achievement"
                  name="NAP Achievements"
                  parent="nap_main_menu"
                  action="action_achievement"
                  sequence="2"/>

</odoo>